@model LoveNottiesV2.Models.OurPeople

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OurPeople</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonImageID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonImageID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OurPersonID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
