@model LoveNottiesV2.Models.OurPeople

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OurPeople</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OurPersonDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OurPersonDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OurPersonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
