@model IEnumerable<LoveNottiesV2.Models.OurPeople>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OurPersonFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurPersonLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurPersonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurPersonImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurPersonDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OurPersonFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurPersonLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurPersonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurPersonImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OurPersonDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OurPersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OurPersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OurPersonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
